mat-expansion-panel {
  margin-bottom: 0rem;
  margin-left: .25rem;
  margin-right: .25rem;
    
  mat-expansion-panel-header {
    
    mat-panel-title {
      
    }
  }
}

.title {
  text-align: center;
  color: #EC407A;
  font-size: 2.1rem;
  line-height: normal;
}

.nothing-message {
  font-size: 1.2rem;
}
