.card-container {
  display: flex;
  justify-content: space-between;
  background: #FAFAFA;
  padding: 1rem;
  margin-bottom: 5px;
  cursor: pointer;
  
  &:hover {
    background: #EEEEEE;
  }
  
  .description {
    font-size: 1.1rem;
  }
  
  .amount {
    padding-top: 2px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1.1rem;
    line-height: normal;
    border-radius: 5px;
    // background: #00BFA5;
    // color: white;
  }
}

.expense {
  color: #F50057;
  background: #FCE4EC;
}

.income {
  color: #00BFA5;
  background: #E0F2F1;
}