.spacer {
  margin-left: auto;
  margin-right: auto;
}

.mat-icon {
  font-size: 2rem;
  width: auto;
  height: auto;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (min-width: 800px) {
  #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3.5rem;
  
  .face {
    margin-bottom: 1rem;
  }
  
  .made-by {
    margin-bottom: 1rem;
    
    a {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0rem;
    }
  }
}