<mat-toolbar color="primary">
  
  <mat-toolbar-row>
    <span>Budget App</span>
    <span class="spacer"></span>
    <mat-icon>attach_money</mat-icon>
  </mat-toolbar-row>
  
</mat-toolbar>

<app-total-amount></app-total-amount>

<div id="main-content">
  
  <div style="width: 100%;">
    <app-budget-form></app-budget-form>
  </div>
  
  <div class="my-5 mx-1">
    <hr class="">
  </div>
  
  <div style="width: 100%;">
    <app-income-list></app-income-list>
  </div>
  
  <div style="width: 100%;">
    <app-expenses-list></app-expenses-list>
  </div>
  
</div>

<footer class="container mx-auto text-center">
  <hr class="mb-8 mx-1">
  <h2 class="mat-display-2 face">🧑🏽</h2>
  <h5 class="mat-display-1 made-by">
    Made by
    <a mat-button color="accent" class="mat-display-1" href="https://www.facebook.com/edward.angelesmedina" target="_blank">Edward Angeles</a>
  </h5>
</footer>