mat-form-field {
  width: 100%;
  font-size: 1.1rem;
  
  margin-top: -0.3em;    // removing bottom padding, 
  margin-bottom: -1.7em; // added by angular mateiral
  
  mat-icon {
    padding-right: 2rem;
  }
}

button {
  height: 69px;
  font-size: 1.3rem;
}